{% extends 'base.html' %}
        {% block content %}
        <div class="box">
            <span>
                <img id="img1" src="{{ url_for('static', filename='Pic1.png') }}" alt="">
            </span>
            <span>
                <h1 id="htext">Home Page</h1>
            </span>
            <span>
                <img id="img2" src="{{ url_for('static', filename='Pic2.png') }}" alt="">
            </span>
        </div>
        <div>
            <span>
                <h3 id="stext"></h3>
            </span>
        </div>
    {% endblock %}